---
import Layout from '../../layouts/Layout.astro';
import ContentContainer from '../../components/ContentContainer.astro';
import ContentList from '../../components/ContentList.astro';
import { SEO } from 'astro-seo';
const title = 'Blog — Aryxst';
---

<SEO
 {title}
 canonical={Astro.url}
 description='My personal projects'
 openGraph={{
  basic: {
   title,
   type: 'website',
   url: Astro.url.href,
   image: Astro.url.origin + '/aryxst.jpg',
  },
 }}
/>
<Layout {title}>
 <ContentContainer>
  <div class='pb-12'>
   <h3>Blog</h3>
   <p>Posts are currently not available.</p>
  </div>
  <ContentList listType='blog' disabled />
 </ContentContainer>
</Layout>
