---
import Header from './Header.astro';
---

<div id='content' class='prose mx-auto pb-[120px] pt-10 dark:prose-invert prose-h3:text-lg prose-p:prose-a:text-base prose-p:prose-a:font-normal max-md:px-6 max-sm:prose-p:prose-a:text-sm [&:not(.project-relation)]:prose-h3:mb-5 [&:not(.project-relation)]:prose-h3:mt-16'>
 <Header />
 <slot />
</div>
