---
import Header from './Header.astro';
---

<div id='content' class='prose mx-auto pb-[120px] pt-10 prose-invert max-md:px-6 [&:not(.project-relation)]:prose-h3:mb-5 [&:not(.project-relation)]:prose-h3:mt-16 lg:prose-xl'>
 <Header />
 <slot />
</div>
