---
import '@fontsource/poppins/500.css';
// 400+500
---

<header class='flex min-h-[120px] items-center gap-x-5 text-base' transition:persist>
 <img width='64' height='64' src='/aryxst-small.jpg' alt='My avatar' class='user-select-none size-14 h-auto rounded-full border-2 border-neutral-200 p-[3px] dark:border-neutral-800' />
 <div class='flex flex-col' style='transform:none'>
  <a class='font-medium no-underline' href={Astro.url.origin}>Aryxst</a>
  <span class='leading-none text-neutral-500 dark:text-neutral-400'>Web Developer & UX/UI Enthusiast</span>
 </div>
</header>
