---
import { getCollection } from 'astro:content';
const projects = (await getCollection('projects')).sort((a, b) => b.data.creationDate.valueOf() - a.data.creationDate.valueOf());
---

<ul class='max-w-[65ch] mx-auto'>
 {
  projects.map((entry) => (
   <li>
    <a href={`/projects/${entry.slug}`}>
     <p class='font-semibold dark:text-neutral-300'>{entry.data.title}</p>
     <p class='hidden dark:text-neutral-500 md:block'>{entry.data.description}</p>
    </a>
   </li>
  ))
 }
</ul>

<style></style>
