---
import Layout from '../../layouts/Layout.astro';
import ContentContainer from '../../components/ContentContainer.astro';
import ContentList from '../../components/ContentList.astro';
---

<Layout title='Projects — Aryxst'>
 <ContentContainer>
  <div class='pb-12'>
   <h3>Projects</h3>
   <p>Some of my personal projects, also funny ones. Projects are currently not available.</p>
  </div>
  <ContentList listType='projects' disabled />
 </ContentContainer>
</Layout>
