@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
 --bg-default: #0e1217;
 --bg-off: #49494942;
 --text-important: #8790c0;
 --text-subtitle: #bdbdbd;
}
body,
*:after,
*:before {
 box-sizing: border-box;
}
body {
 font-family: 'Poppins', sans-serif;
 font-size: 1.5em;
 color: white;
 background-color: var(--bg-default);
 margin: 0;
}
/* Poppins extra bold */
h1 {
 font-weight: 800;
 font-style: normal;
}
.hero-subtitle {
 max-width: 557px;
}
@keyframes fadeIn {
 0% {
  opacity: 0;
 }
 100% {
  opacity: 1;
 }
}
@keyframes up-and-down {
 0%,
 100% {
  transform: translateY(0);
 }
 50% {
  transform: translateY(-10px);
 }
}
