@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
 --bg-default: #0e1217;
 --bg-off: #49494942;
 --text-important: #8790c0;
 --text-subtitle: #bdbdbd;
}
body,
*:after,
*:before {
 box-sizing: border-box;
}
body {
 font-family: 'Poppins', sans-serif;
 font-size: 1.5em;
 color: white;
 background-color: var(--bg-default);
 margin: 0;
}
/* Fonts */
.poppins-light-italic {
 font-weight: 200;
 font-style: italic;
}
/* Poppins extra bold */
h1 {
 font-weight: 800;
 font-style: normal;
}
.poppins-regular {
 font-weight: 400;
 font-style: normal;
}
#avatar {
 z-index: 999;
}

@keyframes up-and-down {
 0%,
 100% {
  transform: translateY(0);
 }
 50% {
  transform: translateY(-10px);
 }
}
@keyframes shake {
 0%,
 100% {
  transform: translateX(0);
 }
 50% {
  transform: translateX(10px);
 }
}
@keyframes wave {
 0%,
 100% {
  transform: rotate(0);
 }
 50% {
  transform: rotate(-20deg);
 }
}
