---
import { ViewTransitions } from 'astro:transitions';
import Navbar from '@/components/Navbar.astro';
import '@/styles/global.css';
import '@fontsource/poppins/400.css';
// 400

interface Props {
 noNavbar?: boolean;
}

const { noNavbar } = Astro.props;
---

<html lang='en'>
 <head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1' />
  <link rel='icon' type='image/jpg' href={`${Astro.url.origin}/aryxst-small.jpg`} />
  <meta name='theme-color' content='#49494942' />
  <meta name='generator' content={Astro.generator} />
  <script is:inline defer src='https://analytics.us.umami.is/script.js' data-website-id='92161264-2fa5-42d4-a932-51851f9790bc'></script>
  <ViewTransitions />
 </head>
 <body class='dark'>
  <slot />
  {!noNavbar && <Navbar />}
 </body>
</html>
