---
import { ViewTransitions } from 'astro:transitions';
import '@fontsource/poppins/300.css';

interface Props {
 title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
 <head>
  <title>{title}</title>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width' />
  <link rel='icon' type='image/webp' href='https://aryxst.github.io/assets/aryxst.webp' />
  <link rel='canonical' href='https://aryxst.github.io/' />
  <meta name='description' content="I'm Aryxst. A UX/UI Design enthusiast and JS Programmer." />
  <meta name='author' content='Aryxst' />
  <meta name='keywords' content='Aryxst, Portfolio, UI/UX Designer, Frontend Developer, Backend Developer, React, Bun, JavaScript' />
  <meta name='robots' content='index, follow' />
  <meta property='og:title' content={title || 'Aryxst'} />
  <meta property='og:description' content="I'm Aryxst. A UX/UI Design enthusiast and JS Programmer." />
  <meta name='theme-color' content='#49494942' />
  <meta property='og:image' content='https://aryxst.github.io/assets/aryxst.webp' />
  <meta property='og:url' content='https://aryxst.github.io/' />
  <meta property='og:type' content='website' />
  <meta name='generator' content={Astro.generator} />
  <ViewTransitions />
 </head>
 <body>
  <slot />
  <style is:global>
   :root {
    --bg-default: #0e1217;
    --bg-off: #49494942;
    --bg--off_accented: #171717;
    --text-important: #8790c0;
    --text-subtitle: #bdbdbd;
   }
   body,
   *:after,
   *:before {
    box-sizing: border-box;
   }
   body {
    font-family: 'Poppins', sans-serif;
    color: white;
    background: var(--bg-default);
    margin: 0;
   }
   h1 {
    font-weight: 800;
    font-style: normal;
   }
   @keyframes fadeIn {
    0% {
     opacity: 0;
    }
    100% {
     opacity: 1;
    }
   }
   @keyframes up-and-down {
    0%,
    100% {
     transform: translateY(0);
    }
    50% {
     transform: translateY(-10px);
    }
   }
  </style>
 </body>
</html>
