---
import { ViewTransitions } from 'astro:transitions';
import Navbar from '@/components/Navbar.astro';
import Footer from '@/components/Footer.astro';
import Container from '@/components/Container.astro';
import type { AstroComponentFactory } from 'astro/runtime/server/index.js';
import '@/styles/global.css';
import '@fontsource/poppins/400.css';

interface Props {
 Content: AstroComponentFactory;
 noNavbar?: boolean;
}

const { Content, noNavbar } = Astro.props;
---

<html lang='en'>
 <head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1' />
  <link rel='icon' type='image/jpg' href={`${Astro.url.origin}/aryxst-small.jpg`} />
  <meta name='theme-color' content='#49494942' />
  <meta name='generator' content={Astro.generator} />
  <script is:inline defer src='https://analytics.us.umami.is/script.js' data-website-id='92161264-2fa5-42d4-a932-51851f9790bc'></script>
  <ViewTransitions />
 </head>
 <body class='dark'>
  <Container>
   <div id='render'><Content /></div>
   <Footer />
  </Container>
  {!noNavbar && <Navbar />}
 </body>
</html>
